# Fichiers d'environnement
.env
.env_old
.env.*
*.env_*

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers de base de données
*.sqlite3
*.db

# Fichiers de logs
*.log

# Fichiers de compilation
build/
dist/
*.egg-info/

# Fichiers C compilés
**/*.c
**/*.cpp
**/*.html
**/*.so
**/*.pyd

# Dumps de base de données
*.dump
*.sql.gz

# Tests
.pytest_cache/
